* {
  margin: 0;
  scrollbar-color: black black;
  scrollbar-width: none;
}

.home {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  .container {
    header {
      border-bottom: 3px solid antiquewhite;
      display: flex;
      align-items: center;
      margin: auto;
      height: 10vh;
      justify-content: space-evenly;
      .title {
        font-size: x-large;
        color: rgb(250, 235, 215);
      }
      .Newbutton {
        //background-color: rgb(44, 43, 43);
        background-color: antiquewhite;
        border-radius: 5px;
        height: 30px;
        border: none;
        .addbutton {
          //background-color: rgb(44, 43, 43);
          background-color: antiquewhite;
          text-decoration: none;
          font-weight: bold;
          font-family: 'fansong';
          //color: antiquewhite;
          color: black;
        }
      }
    }
    .content {
      display: flex;
      background-color: rgb(16, 16, 16);
      justify-content: center;
      max-height: fit-content;
      align-items: center;
      margin: auto;
      height: 90vh;
      .cardscontainer {
        flex-direction: column;
        background-color: black;
        height: 70vh;
        width: 110vh;
        display: flex;
        overflow-y: scroll;
        scrollbar-color: rgb(250, 235, 215) black;
        scrollbar-width: thin;

        .card {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-self: center;
          justify-content: space-between;
          width: 700px;
          height: 300px;
          background: #fff;
          margin: 20px;

          .imgBox {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 100%;
            background: #212121;
            transition: 0.3s linear;

            img {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: auto;
              height: 100%;
              background: #212121;
              transition: 0.3s linear;
            }
          }
          .itemDetails {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 67%;
            height: 100%;
            box-sizing: border-box;
            padding: 40px;
            flex-direction: column;
            justify-content: space-evenly;
            h2 {
              margin: 0;
              padding: 0;
              font-size: 2.4em;
              line-height: 1em;
              color: #444;
              span {
                font-size: 0.4em;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #999;
              }
            }
            h3 {
              margin: 0;
              padding: 0;
              font-size: 2.2em;
              color: #a2a2a2;
              float: left;
            }
            .buttons {
              display: flex;
              justify-content: space-evenly;
              margin-top: 20px;
              width: 90%;
              .ad {
                background-color: #029f27;
                color: white;
                font-size: xx-large;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
              }
              .mi {
                background-color: #9f0202;
                color: white;
                font-size: xx-large;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
              }
              .deleteBtn {
                background-color: black;
                color: white;
                border-radius: 10px;
                border: none;
                height: 30px;
                height: 40px;
                cursor: pointer;
              }
              .editBtn {
                background-color: black;
                color: antiquewhite;
                border-radius: 10px;
                border: none;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.formContainer {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    .logo {
      color: black;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      cursor: pointer;
    }
    .title {
      color: black;
      font-size: 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid black;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      button {
        background-color: black;
        border-radius: 10px;
        color: antiquewhite;
        padding: 10px;
        font-weight: bold;
        bottom: none;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
  }
}
